{% extends "products/layout.html" %}
{% block content %}
<!-- navbar starts -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">All products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Brands
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for _brand in _brands %}
                        <a class="dropdown-item" href="{{url_for('get_brand', id=_brand.id)}}">{{_brand.name}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for _category in _categories %}
                        <a class="dropdown-item" href="{{url_for('get_category', id=_category.id)}}">{{_category.name}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('getCart')}}" tabindex="1">Cart ({{session['Shoppingcart']|length}})</a>
                </li>
            </ul>
            <form class="float-right form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<!-- navbar ends -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Sr</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Discount</th>
                        <th>Subtotal</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, product in session['Shoppingcart'].items() %}
                    {% set discount = ((product.discount/100)*product.price|float)*product.quantity|float %}

                    <tr>
                        <td>{{loop.index}}</td>
                        <td><img src="{{url_for('static', filename='images/'+product.image)}}" alt="{{product.name}}" width="50" height="45"</td>
                        <td>{{product.name}}</td>
                        <form action="{{url_for('updatecart', code=key)}}" method="post">
                            <td>
                                {% set colors = product.colors.split(',') %}
                                <label for="colors">Color:</label>
                                <select name="colors" id="">
                                    <option value="{{product.color}}" style="display: none">{{product.color|capitalize}}</option>
                                    {% for color in colors %}
                                    {% set col = color.split(':') %}
                                    <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                                    {% endfor %}
                                </select>
                                
                            </td>
                            <td><span id="price-{{key}}"></span></td>
                            <td><input type="number" value="{{product.quantity}}" name="quantity" min="1" max="10"/></td>
                            {% if product.discount > 0 %}
                            <td>{{product.discount}} % is <span id="afterdiscount-{{key}}"></span></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% set subtotal = product.quantity|int * product.price|float %}
                            <td><span id="subtotal-{{key}}"></span></td>
                            <td><button class="btn btn-sm btn-info" type="submit">Update</button></td>
                        </form>
                        <td><a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-danger">Remove</a></td>
                    </tr>
                    <script>
                    // Create USD currency formatter.
                    var formatter = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' });

                    // Use it.

                    document.getElementById('price-{{key}}').innerHTML = formatter.format({{ product.price }});
                    document.getElementById('subtotal-{{key}}').innerHTML = formatter.format({{ (subtotal | float) - discount }});
                    document.getElementById('afterdiscount-{{key}}').innerHTML = formatter.format({{ discount }});
                    </script>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-sm">
                <tr>
                    <td></td>
                    <td><a href="/" class="btn btn-success" >Check out</a></td>
                    <td width="35%"></td>
                    <td> <h4>Tax: <span id="tax"></span></h4></td>
                    <td> <h4>Grand total: <span id="grandtotal"></span></h4></td>
                    <td><a href="{{url_for('clearcart')}}" class="btn btn-danger btn-sm float-right mr-4">Clear cart</a></td>

                </tr>
                <script>
                    var formatter = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' });

                    document.getElementById('tax').innerHTML = formatter.format({{ tax }});
                    document.getElementById('grandtotal').innerHTML = formatter.format({{ grandtotal }});
                </script>>
            </table>
        </div>
    </div>
</div>
{% endblock %}