<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{url_for('static', filename='content/bootstrap.min.css')}}" rel="stylesheet"">

    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        {% include '_messages.html' %}
        {% include 'admin/_navbar.html' %}
        {% block content %}

        {% endblock content %}
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{url_for('static', filename='scripts/bootstrap.bundle.min.js')}}"></script>

    <!--Option 2: Separate Popper and Bootstrap JS-->
    <script src="{{url_for('static', filename='scripts/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>

</body>
</html>