{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <table class="table table-sm table-condensed table-striped">
        <thead>
            <tr>
                <th>Sr</th>
                <th>Product</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Brand</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% if products %}
            {% for product in products %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{product[0]}}</td>
                <td>{{product[1]}}</td>
                <td>{{product[2]}}</td>
                <td>{{product[3]}}</td>
                <td><img src="{{url_for('static', filename='images/' + product[4])}}" , width="50" , height="40" /></td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% block body %}{% endblock %}